.carousel-item img {
    max-height: 900px;
}

.the-main-section p {
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    line-height: 1.467;
}

.the-main-section h5 {
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: 700;
}

.the-1-block,
.the-2-block,
.the-3-block {
    min-height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgb(238, 238, 238);
    text-align: center;
}

.the-2-block {
    background-attachment: fixed;
    background-color: rgba(255, 255, 255, 0);
    background-image: url(../images/australia/testimonial-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    -webkit-filter: blur(0px);
    filter: blur(0px);
    color: white;
}

.the-inside-1-block,
.the-inside-2-block,
.the-inside-3-block {
    padding: 50px 50px;
}

@media only all and (max-width: 980px) {
    .the-main-section p {
        font-size: 15px;
    }

    .the-main-section h5 {
        font-size: 20px;
    }

    .the-inside-1-block,
    .the-inside-2-block,
    .the-inside-3-block {
        padding: 10px 10px;
    }
    .the-1-block,
    .the-2-block,
    .the-3-block {
        min-height: 300px;
    }
}

@media only all and (max-width: 640px) {
}

@media only all and (max-width: 320px) {
    .the-main-section p {
        font-size: 10px;
    }

    .the-main-section h5 {
        font-size: 15px;
    }

    .the-inside-1-block,
    .the-inside-2-block,
    .the-inside-3-block {
        padding: 5px 5px;
    }
}
